<%- include('includes/head.ejs') %>

<h1 class="title">Pilotos registrados</h1>

<% if (privilegios.indexOf('crear_piloto') >= 0) { %>
<a href="/pilotos/nuevo" class="button is-link is-rounded">Registrar piloto</a>
<% } %>
<br /><br />

<% if (pilotos.length > 0) { %>
<div class="columns">
  <% let columns = 0; %> <% for (let piloto of pilotos) { %> <% if (columns % 4
  == 0) { %>
</div>
<div class="columns">
  <% } %> <% columns++; %>
  <div class="column">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="<%= piloto.imagen %>" alt="Placeholder image" />
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="<%= piloto.imagen %>" alt="Placeholder image" />
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4"><%= piloto.piloto %></p>
            <p class="subtitle is-6">@<%= piloto.nombre %></p>
          </div>
        </div>

        <div class="content">
          <%= piloto.escuderia %> <a><%= piloto.handle %></a>.
          <a href="#">#css</a> <a href="#">#responsive</a>
          <br />
          <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<% } else { %>
<h1>No hay pilotos registradas</h1>
<% } %> <% if (ultimoPiloto != '') { %>
<div class="notification is-success">
  El piloto <%= ultimoPiloto %> se ha registrado correctamente
</div>

<% } %>

<a href="/pilotos/nuevo" class="button is-link is-rounded">Registrar piloto</a>

<%- include('includes/foot.ejs') %>

<script>
  document.getElementById("buscar").onkeyup = () => {
    const valor_busqueda = document.getElementById("buscar").value;
    console.log(valor_busqueda);

    fetch("/pilotos/buscar/" + valor_busqueda, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((result) => {
        return result.json();
      })
      .then((data) => {
        console.log(data.pilotos);
        let respuesta = "";
        if (data.pilotos.lenght > 0) {
          respuesta += '<div class="columns">';
          let columns = 0;
          for (let piloto of data.piloto) {
            if (columns % 4 == 0) {
              respuesta += "</div>";
              respuesta += '<div class="columns">';
            }
            columns++;
            respuesta += '<div class="column">';
            respuesta += '<div class="card">';
            respuesta += '<div class="card-image">';
            respuesta += '<figure class="image is-4by3">';
            respuesta +=
              '<img src="/uploads/' +
              piloto.imagen +
              '" alt="Placeholder image" />'; // cambiar piloto por escuderia
            respuesta += "</figure>";
            respuesta += "</div>";
            respuesta += '<div class="media-content">';
            respuesta += '<p class="title is-4">' + piloto.piloto + "</p>"; // cambiar piloto por escuderia
            respuesta += '<p class="subtitle is-6">@' + piloto.nombre + "</p>"; // cambiar piloto por escuderia
            respuesta += "</div>";
            respuesta += "</div>";

            respuesta += '<div class="content">';
            respuesta += piloto.escuderia + " <a>" + piloto.handle + "</a>.";
            respuesta += '<a href="#">#css</a> <a href="#">#responsive</a>';
            respuesta += "<br />";
            respuesta +=
              '<time datetime="' +
              piloto.created_at +
              '">' +
              piloto.created_at +
              "</time>";
            respuesta += "</div>";
            respuesta += "</div>";
            respuesta += "</div>";
            respuesta += "</div>";
          }
          respuesta += "</div>";
        } else {
          respuesta += "<h1>No hay pilotos registradas</h1>";
        }
        document.getElementById("resultados").innerHTML = respuesta;
      })
      .catch((err) => {
        console.log(err);
      });
  };
</script>
